:root {
  --purple-studywise: #948feb;
  --blue-studywise: #86a2e1;
}

@font-face {
  font-family: "Poppins-Light";
  src: url("../font/Poppins-Light.ttf");
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: url("../font/Poppins-SemiBold.ttf");
}

body {
  font-family: "Poppins-Light";
  overflow: hidden;
}

a.logo,
a.logo:hover {
  color: white;
  margin-bottom: 0% !important;
  font-family: "Poppins-SemiBold";
}

nav.navbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.6em 0em;
}

@media screen and (max-width: 1024px) {
  .hero-head > .container {
    padding: 0px 1em;
  }
}

nav.navbar-content > .navbar-left {
  align-items: center;
}

nav.navbar-content > .navbar-right > a {
  color: white;
  border: 1px solid white;
  width: 8em;
  background-color: transparent;
}

p.accroche {
  color: white;
  margin-bottom: 1.3em !important;
}
.navbar-start > .navbar-item,
.navbar-link {
  color: white;
}

p.accroche + p {
  color: white;
}

section.bg-gradient {
  background-image: linear-gradient(
    45deg,
    var(--purple-studywise),
    var(--blue-studywise)
  );
}

.forum-container {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.forum-container > .content {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0% 1% 6%;
}

.forum-container > .content > .question {
  display: flex;
  flex-direction: column;
  gap: 1.4em;
  margin-bottom: 2em;
}

.forum-container > .content > .question > p {
  color: white;
}

.profil {
  display: flex;
  gap: 1.4em;
}

.profil > .avatar {
  width: 4em;
  height: 4em;
  border-radius: 50%;
  overflow: hidden;
}

.profil > .name {
  color: white;
}

.profil > .name > span:nth-child(1) {
  display: flex;
  flex-direction: column;
  font-family: "Poppins-SemiBold";
}

.card-item {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: white;
  padding: 2em 3em;
  border-radius: 50px;
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%),
    0 0 0 1px rgb(10 10 10 / 2%);
  width: 90%;
  margin-bottom: 2em;
}

.card-item > .profil > .name {
  color: black;
}

.card-item > .profil > .name > span:nth-child(1) {
  color: var(--purple-studywise);
}

.response-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@media screen and (max-width: 1024px) {
  .forum-container > .content {
    width: 90%;
  }
}

img.bg {
  position: absolute;
  filter: opacity(0.8);
  z-index: -1;
}

.bg.img-1 {
  --y: -13em;
  top: var(--y);
  right: -8em;
  width: 24em;
}

.bg.img-2 {
  --y: -15em;
  left: -13em;
  width: 25em;
  bottom: 0%;
}

@media screen and (max-width: 722px) {
  .bg.img-1 {
    --y: 6em;
    top: var(--y);
    right: -11em;
  }
}
